<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.spring_board.repository.BoardMapper">
    <resultMap id="boardCategoryMap" type="com.board.spring_board.entity.BoardCategory">
        <id property="boardCategoryId" column="bct.board_category_id"/>
        <result property="boardCategoryName" column="bct.board_category_name" />
        <result property="boardCount" column="count"/>
    </resultMap>

    <resultMap id="boardMap" type="com.board.spring_board.entity.Board">
        <id property="boardId" column="board_id"/>
        <result property="boardTitle" column="board_title"/>
        <result property="boardCategoryId" column="board_category_id"/>
        <result property="boardContent" column="board_content"/>
        <result property="email" column="email"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

    <select id="getBoardCategories" resultMap="boardCategoryMap">
        SELECT
            bct.board_category_id,
            bct.board_category_name,
            count(bt.board_category_id)
        FROM
            board.board_category_tb bct
            left outer join board_tb bt on(bt.board_category_id = bct.board_category_id)
        group by
            bct.board_category_id,
            bct.board_category_name;
    </select>

    <insert id="saveBoardContent" parameterType="com.board.spring_board.entity.Board">
        insert into
            board_tb
        values (0, #{boardTitle}, #{boardCategoryId}, #{boardContent}, #{email}, now())
    </insert>

    <insert id="saveCategory"
            parameterType="com.board.spring_board.entity.BoardCategory"
            useGeneratedKeys="true"
            keyProperty="boardCategoryId">
        insert into
            board_category_tb
        values (0, #{boardCategoryName})
    </insert>

</mapper>